<a href="https://colab.research.google.com/github/Adristiftitah/TDATA_Week3/blob/main/1841720015_6_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
counter = 100   #integer value assigment
jarak = 104.5   # floating point value
name= "nina"    # the name variable stores a String value

# multiple assigment in one command line :
a = b = c = 200
name, city, salary = "Sabine", 'Surabaya' , 70000

print(counter)
print(jarak)
print(name)
print(a, b, c)
print(city)

100
104.5
Sabine
200 200 200
Surabaya